*{
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
}


table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

th, td{
    padding: 7px 12px;
}

.tableHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 650px;

}

input, select{
    margin: 10px 0;
    /* width: 85%; */
    height: 40px;
    padding-left: 5px;
    font-weight: 600;
} 

.infoText{
    font-size: 13px;
    font-weight: 500;
    color: rgb(18, 88, 18);
    font-style: italic;
}


#addExpenseButton{
    background-color: rgba(39, 160, 39, 0.733);
    color: white;
    font-weight: 600;
    font-size: 15px;
    padding: 7px 12px;
}

#resetExpenseButton{
    background-color: rgba(220, 4, 61, 0.716);
    color: white;
    font-size: 15px;
    font-weight: 600;
    padding: 7px 12px;
}

#deleteAllButton{
    background-color: rgb(235, 54, 54);
    color: white;
    font-size: 14px;
    font-weight: 600;   
    padding: 7px 12px;
}

#editButton, #deleteButton{
    background-color: rgb(235, 54, 54);
    color: white;
    font-size: 14px;
    font-weight: 600;   
    padding: 7px 12px;
}

#editButton{
    background-color: rgb(33, 91, 33);
}

#deleteButton{
    background-color: rgb(218, 34, 34);

}
 

/* edit expense form div css  */

#editExpenseSection{
    width: 90%;
    padding: 20px;
    border: 2px solid blueviolet;
    border-radius: 5px;
    position: absolute;
    top: 30%;
    left: 10%;
    background-color: rgb(255, 255, 255)

}



/* hide modal css */

.hideModal{
    display: none;
}

.showModal{
    display: block;
}



/* media query  */

@media screen and (max-width : 600px) {
   
    input, select{
        display: block;
        margin: 10px 0;
        width: 85%;
        height: 40px;
        padding-left: 5px;
        font-weight: 600;
    } 

    #addExpenseButton{
        background-color: rgba(39, 160, 39, 0.733);
        color: white;
        font-weight: 600;
    }

    #resetExpenseButton{
        background-color: rgba(220, 4, 61, 0.716);
        color: white;
        font-weight: 600;
    }

    #tableWraper{
        overflow-x: auto;
  max-width: 100%;
  /* background-color: rgb(185, 185, 202); */
        margin-top: 20px;
    } 

    
 
    /* th, td{
        padding: 4px 6px;
    } */

    tabel{
        width: 100%;
    }


    #editExpenseSection{
        width: 90%;
        padding: 20px;
        top: 30%;
        left: 5%;
        /* display: flex; */
        justify-content: center;
        
    }

    #editExpenseSection input, #editExpenseSection select{
        width: 90%;
    }

    #editButton{
        display: block;
        margin-bottom: 7px;
    }
    
}


@media (min-width : 601px){

    
    #editExpenseSection{
        width: 90%;
        max-width: 320px;
        padding: 10px;
        top: 30%;
        left: 5%;
        /* display: flex; */
        justify-content: center;
        
    }

    #editExpenseSection input, #editExpenseSection select{
        width: 90%;
        margin: 10px 0;
        margin-left: 10px;
        /* width: 70%; */
        height: 40px;
        padding-left: 5px;
        font-weight: 600;

    }

    .infoText{
        display: none;
    }
    
    
}